.helloworld {
    background-color: var(--background-color);
    color: var(--text-color);
}



.helloworld.custom {
    background-color: var(--highlight-background-color);
    color: var(--color-red);
    font-family: Arial, Helvetica, sans-serif;
}